/* DurationWheelPicker.css */
.duration-wheel-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 299px;
  height: 130px;
  margin: 20px auto;
  background: linear-gradient(145deg, #9995c0fd, #000000);
  border-radius: 16px;
  border: 1px solid #131317;
  box-shadow: 0 8px 20px rgba(234, 238, 229, 0.4),
    inset 0 1px 2px rgba(255, 255, 255, 0.76);
  user-select: none;
  overflow: hidden;
  overflow-x: hidden;
}

.wheel-container {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 0 10px;
  overflow-x: hidden;
}

.wheel-list {
  height: 90%;
  width: 70px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.wheel-list::-webkit-scrollbar {
  display: none;
}

.wheel-item {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.wheel-item.selected {
  color: #e0e5e4;
  font-weight: 900;
  opacity: 1;
  transform: scale(1.1);
}

.highlight {
  position: absolute;
  top: 45px;
  left: 10px;
  right: 10px;
  height: 40px;
  background: rgba(60, 60, 65, 0.4);
  border-top: 1px solid rgba(90, 90, 95, 0.6);
  border-bottom: 1px solid rgba(90, 90, 95, 0.6);
  pointer-events: none;
  z-index: 1;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.wheel-item-padding {
  height: 40px;
  flex-shrink: 0;
}

.wheel-label {
  font-size: 12px;
  font-weight: 400;
  color: #c1d2d0;
  margin-left: 6px;
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}